
{% extends "base.html" %}
{% block base %}
<form action="/enviado" method="post">
    <textarea name="mensaje"  type="text" rows="4" cols="50"></textarea>
    <input type="submit" >
  </form>
{% endblock %}

