


{% extends "base.html" %}
{% block base %}
{% for items in mensaje %}
<article>
<h2>Mensaje ({{items.id}}) enviado el {{items.date}} </h2>
<p>{{ items.sms}}</p>
<a href="/mensaje/{{items.id}}">Más info</a>
</article>
{% else %}
  <li>LISTA DE MENSAJES VACIOS :D</li>
{% endfor %}
{% endblock %}