



{% extends "base.html" %}
{% block base %}
{% block left %}
<article>
    <h2>Mensaje ({{mensaje.id}}) enviado el {{mensaje.date}} </h2>
    <p>{{ mensaje.sms}}</p>
</article>
{% endblock %}
{% endblock %}
